<!DOCTYPE html>
<html
<head>

</head>

<body>
	<p class="save">
		Save your progress by <a href="https://www.codeschool.com/users/sign_up" rel="internal">creating</a> a Code School account. (<a href="#" class="save-close">hide</a>)
	</p>
	
</body>
</html>
<style>

.save {
  background: url(//d31j3wkilayjeo.cloudfront.net/assets/bg-save-8dc80a0b863ac59f6311f58c770c5013.png) no-repeat;
  bottom: 0;
  font-size: 1.3em;
  height: 25px;
  line-height: 20px;
  padding: 42px 0 0 55px;
  position: fixed;
  right: 0;
  width: 365px;
  z-index: 100;
}

body {
  color: #4a473a;
  font-family: Palatino,“Palatino Linotype”,Georgia,serif;
  font-size: 62.5%;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}
</style>