.content {
	min-height:400px;
	border:1px solid #ccc;
	background-color:#DDD;
	margin-top:40px;
	border-radius:8px;
}

.search {
	border-radius: 20px;
}

.navbar-default {
  background-color: #3D2977;
}

.navbar-default .navbar-nav>li>a {
	color:#FFF;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #CCC;
}