body {
	font-family: 'Arimo', sans-serif;
	font-size:16px;
}
#main {
	border-radius: 5px;
	border: 1px solid #CCC;
	margin: 60px auto 20px;
	padding: 20px;
	box-shadow: 0 0 5px 5px #BBB;
}
#article {
	font-size:18px;
}

pre code {
	font-size:16px;
}